@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor;

<span class="header">Add a Treat</span>

<hr>

@if (((IEnumerable<dynamic>)ViewBag.TreatId).Count() == 0)
{
  <div class="contentbox center flavor">
    <p>No treats found.</p>
    <p>@Html.ActionLink("Add a treat!", "Create", "Treats")</p>
  </div>
}
else
{
  <div class="contentbox">
    <h4>Add a Treat to: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.FlavorId)

      @Html.Label("Select Treat")
      @Html.DropDownList("TreatId")

      <input type="submit" value="Save" class="btn btn-success">
    }
  </div>
}

<div class="navbar">
  @Html.ActionLink("Flavor List", "Index")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("Treats List", "Index", "Treats")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("Return Home", "Index", "Home")
</div>