@{
  Layout = "_Layout";
}

@using PierreTreats.Models
@model PierreTreats.Models.Flavor;

<span class="header">Edit @Html.DisplayFor(model => model.Name)</span>

<hr>

<div class="contentbox">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    <p>@Html.LabelFor(model => model.Name):
      @Html.TextBoxFor(model => model.Name, new { required = "required" })</p>

    <p>@Html.LabelFor(model => model.Rating):
      @Html.DropDownListFor(model => model.Rating,
        new SelectList(Enum.GetValues(typeof(FlavorRating))),
        "Select a Rating")</p>

    <input type="submit" value="Save" class="btn btn-success">
  }
</div>

<div class="navbar">
  @Html.ActionLink("Back to list", "Index")
</div>