@{
  Layout = "_Layout";
}

<span class="header">Authentication with Identity</span>

<hr>

<div class="contentbox">
  @if (User.Identity.IsAuthenticated)
  {
    <p>Welcome back, <em>@User.Identity.Name!</em></p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-danger" value="log out">
    }
  }
  else
  {
    <div class="flavor center">
      <p>@Html.ActionLink("Register", "Register") | @Html.ActionLink("Log in", "Login")</p>
    </div>
  }
</div>

<div class="navbar">
  @Html.ActionLink("See all Flavors", "Index", "Flavors")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("See all Treats", "Index", "Treats")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("Home", "Index", "Home")
</div>