@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<span class="header">Add a Flavor</span>

<hr>

<div class="contentbox">
  <h4>Add a Flavor to: @Html.DisplayFor(model => model.Name)</h4>
  
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
  
    <p>@Html.Label("Select flavor"): 
    @Html.DropDownList("FlavorId")</p>
  
    <input type="submit" value="Save" class="btn btn-success">
  }
</div>

<div class="navbar">
  @Html.ActionLink("Flavor List", "Index", "Flavors")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("Treats List", "Index")
  <span class="padding"><img src="~/img/star.png" height="20px"></span>
  @Html.ActionLink("Return Home", "Index", "Home")
</div>