@{
  Layout = "_Layout";
}
@using PierreTreats.Models
@model PierreTreats.Models.Treat

<span class="header">Add a new Treat</span>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)</p>

  <p>@Html.LabelFor(model => model.Ingredients)
  @Html.TextAreaFor(model => model.Ingredients)</p>

  <p>@Html.LabelFor(model => model.Instructions)
  @Html.TextAreaFor(model => model.Instructions)</p>

  @Html.LabelFor(model => model.Rating)
  @Html.DropDownListFor(model => model.Rating,
    new SelectList(Enum.GetValues(typeof(Rating))),
    "Select a Rating")

  <input type="submit" value="Add treat to the PierreTreats" class="btn btn-default">
}

<p>@Html.ActionLink("Back to all treats", "Index")</p>