@{
  Layout = "_Layout";
}

@using PierreTreats.Models;

<div class="center">
  @using (Html.BeginForm())
  {
    <span class="header">Treats: </span>
    @Html.TextBox("userInput")
    <input type="submit" value="Search Treats" class="btn btn-info">
  }

  <hr>

  @if (@Model.Count == 0)
  {
    <div class="contentbox flavor">
      <p>No treats found.</p>
    </div>
  }

  <ul>
    @foreach (Treat treat in Model)
    {
      <div class="contentbox flavor">
        <li>
          @Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }) |
          @for (int i = 0; i < (int)(treat.Rating + 1); i++)
          {
            <img src="../img/star.png" height="20px">
          }
        </li>
      </div>
    }
  </ul>

  <div class="navbar">
    @Html.ActionLink("Add a new treat", "Create")
    <span class="padding"><img src="../img/star.png" height="20px"></span>
    @Html.ActionLink("Return Home", "Index", "Home")
  </div>
</div>